<p id="notice"><%= notice %></p>

<p>
  <strong>Paciente:</strong>
  <%= @reserva.paciente %>
</p>

<p>
  <strong>Habitacion:</strong>
  <%= @reserva.habitacion %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
