<%= form_for(@factura, :html => { :role => "form", class: 'form-horizontal' }) do |f| %>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :created_at, 'Fecha: ', :class => "col-sm-2 control-label" %>
        <div class="col-lg-10">
            <%= Time.now.strftime("%F") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
    		<%= f.label :paciente, :class => "col-lg-2 control-label" %>
        <div class="col-lg-9">
          <%= f.collection_select :paciente_id, Paciente.all, :id, :cedula, {:include_blank => "Por favor seleccione"}, :class => "form-control first_input"  %>
        </div>
        <div class="col-lg-1">
          <%= link_to pacientes_path, remote: true do %>
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          <% end %>
        </div>
    	</div>

      <div class="form-group">
    		<%= f.label :user, 'Vendedor: ',  :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
    		  <%= f.collection_select :user_id, User.all, :id, :email, {selected: current_user.id}, :class => "form-control", disabled: 'disabled'  %>
        </div>
    	</div>

      <div class="form-group">
        <%= f.label :metodo_pago, 'Forma pago: ',  :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.collection_select :metodo_pago_id, MetodoPago.all, :id, :descripcion, {selected: 3}, :class => "form-control" %>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="form-group">
        <%= f.label :habitacion, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.collection_select :habitacion_id, Habitacion.all, :id, :cod_habitacion, {:include_blank => "Por favor seleccione al paciente"}, :class => "form-control", disabled: 'disabled'  %>
        </div>
      </div>

    </div>
  </div>



    <div class="col-lg-9 tab-pane" role="tabpanel" id="detalles">
      <div class="detalles_from_list">
      </div>
      <%- link_to_add_association 'add task', f, :detalles %>
    </div>

    <div class="col-lg-10">
      <table class="table">
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Cantidad</th>
            <th>Precio por unidad</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody class="factura_detalles">
          <% f.fields_for :detalles, FacturaDetalle.first do |detalle| %>
            <%= render 'detalle_fields', :f => detalle %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-2">
      <%= link_to_add_association(
        "Add",
        f,
        :detalles,
        data: {
          "association-insertion-node" => "tbody.factura_detalles",
          "association-insertion-method" => "append",
        },
        :class => "btn btn-default"
      )%>

      <%= link_to servicios_path, remote: true, class: 'btn btn-default' do %>
        <i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar
      <% end %>
    </div>

    <%= f.submit %>

<% end %>
<%= render 'mixins/dialog.html.erb' %>

<%= javascript_tag defer: 'defer' do -%>
  function getPrecio(product) {

    console.log(product);
  }

<% end -%>
